// 定义一个变量来保存将来用户要分为多少份
@num:20;

// 适配320px
@media only screen and (width:320px){
    html{
        font-size:320px/@num;
    }
    html{
        height: 100%;
        background-color: #f7f4f1;
    }
}

// 适配375px
@media only screen and (width:375px){
    html{
        font-size: 375/@num;
    }
    html{
        height: 100%;
        background-color: #f7f4f1;
    }
}
// 适配 768px
@media only screen and (width:768px){
    html{
        font-size: 768px/@num;
    }
    html{
        height: 100%;
        background-color: #f7f4f1;
    }
}